body{
    background-color: rgb(32, 32, 32);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 36);
}

h1 {
    color:rgb(255, 0, 0);
    font-size:16px;
    border-bottom: 3px solid rgb(255, 0, 0);
}

a{
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
    
}

a:hover{
    background-color: rgb(124, 0, 0);
}


img{
    float:right;
}

figure {
    float: right;
    width: fit-content;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin rgb(255, 0, 0) solid;
    margin: 5px;
    padding: 5px;
  }
  img.scaled {
    width: 100%;
  }